﻿<style>
    img:hover, img:focus{
		-webkit-transform: scale(1.25);
		-moz-transform: scale(1.25);
		-o-transform: scale(1.25);
		position:relative;
		z-index:5;
    }
	ul,li{
		list-style:none;
	}
	ul{
    height: 100%;
		overflow:hidden;
		padding:3em;
	}
	folder{
		background-image: url(folder.png);
		background-size: cover;
	}
	ul li a{
		text-decoration:none;
		display:block;
		height:5em;
		width:5em;
		padding:1em;

	}
	ul li{
		display: inline;
		float:left;
		margin-left: 4%;
	}
	ul li:first-child{
		display: inline;
		float:left;
		margin-left: 0%;
	}
	ul li h2{
		font-size:70%;
		font-weight:bold;

		margin-top: 100%;
	}
	ul li p{
	  	font-family:"Reenie Beanie",arial,sans-serif;
	  	font-size:120%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

	}



</style>