﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div id="mainApp" style="height: 50%">
        <img v-on:click="addNote()" src="images/add.png" width="5%" >
        <img v-on:click="up()" src="images/up.png" width="5%"><br>
        <div style="border: 4px double black;">{{path}}</div>
    	<ul>
            <li v-for="item in lst">
                <div v-if="item.type" style="background-image: url(images/file.png); background-size: cover;">
                	<a href="#" >
                        <div style="margin-top: -75%">
        					<img v-on:click="editItem(item)" src="images/edit.png" width="45%" >
                    		<img v-on:click="deleteItem(item)" src="images/delete.png" width="45%" >
                        </div>
                		<div style="margin-top: 135%">
    		            	<h2 >{{ item.name }}</h2>
                            <img v-on:click="showNote(item)" src="images/eye.png" width="45%"  style="margin-top: -35%">
    	            	</div>
                	</a>
                </div>
                <div v-else="item.type" style="background-image: url(images/folder.png); background-size: cover;">
                    <a href="#" >
                        <div style="margin-top: -75%">
                            <img v-on:click="editItem(item)" src="images/edit.png" width="45%" >
                            <img v-on:click="deleteItem(item)" src="images/delete.png" width="45%" >
                        </div>
                        <div style="margin-top: 135%">
                            <h2>{{ item.name }}</h2>
                            <img v-on:click="showNote(item)" src="images/eye.png" width="45%"  style="margin-top: -35%">
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    
    <div v-if="showNote_flag">
    	<div class="bg-light">
    	<div class="container">
		<form class="needs-validation">
			Название<br>
			<p>{{name}}<p>
			Содержание<br>
			<p>{{content}}</p>
			<input v-on:click="reset()" type="button" class="btn btn-primary btn-lg btn-block" name="cancel" value="Назад">
		</form>
		</div>
		</div>
	</div>

    <div v-if="isVisible">
		<div class="bg-light">
    	<div class="container">
		<form class="needs-validation">
			Название<br>
			<input type="text" name="name" class="form-control" v-model="name"><br>
			<div v-if="isFile">
                Содержание<br>
			    <textarea type="text" name="content" class="form-control" v-model="content"></textarea><br>
            </div>
			<input v-on:click="saveItem()" type="button" name="save" value="Сохранить" class="btn btn-primary btn-lg btn-block">
			<input v-on:click="reset()" type="button" name="cancel" value="Отменить" class="btn btn-primary btn-lg btn-block">
		</form>
		</div>
		</div>
	</div>
</div>
    <script src="js/vue.js"></script>
     <script src="js/main.js"></script>
   
</body>
</html>